@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Raleway");
@import "bootstrap";

/* common.css ここから↓ */
body {
  // margin: 0;
  // padding: 0;
  font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  color: #e9e9e9;
  font-size: 87.5%;
  line-height: 1.5;
  background-color: #1a1a1a;
}
ul {
  list-style-type: none;
  padding-left: 0;
}
a {
  color: #e9e9e9;
  text-decoration: none;
  &:hover {
  color: #e15021;
  text-decoration: none;
  }
}
#main h2 {
  margin-top: 0;
  padding: 13px 0 13px 24px;
  background-image: url(../images/bg_h2_head.png), url(../images/bg_h2_bottom.png);
  background-repeat: no-repeat, no-repeat;
  background-position: left top, left bottom;
  font-size: 112.5%;
}
#pagetop {
  margin-bottom: 0;
  float: right;
}
#pagetop a {
  display: block;
  min-height: 16px;
  padding: 6px 0 6px 28px;
  background-image: url(../images/bg_arrow.png);
  background-repeat: no-repeat;
  background-position: left bottom;
}
table {
  border-collapse: collapse;
}
caption {
  overflow: hidden;
}
caption p {
  margin-bottom: 30px;
}
table caption {
  text-align: left;
}
table th, table td {
  padding: 15px;
  border: 1px solid #6c5f45;
}
table tr th:first-child {
  width: 70px;
}
table tbody tr:nth-child(even) {
  background-color: #f4f2f0;
}
form p {
  margin-bottom: 30px;
}
form p:nth-last-child(2) {
  margin-bottom: 7px;
}
form p:last-child {
  margin-bottom: 0;
}
input, textarea {
  margin-top: 7px;
}
textarea {
  width: 420px;
  height: 115px;
  overflow-y: scroll;
}
/* common.css ここまで↑ */

/* 基本レイアウト ここから↓ */
.global-header, .global-nav, .hero, .local-contents, .global-footer {
  width: 960px;
  margin: 0 auto;
}
.global-header {
  overflow: hidden;
  & h1 a {
    // display: inline-block;
    & img {
      // vertical-align: bottom;
    }
  }
  & ul {
    float: right;
    overflow: hidden;
    & li {
      float: left;
      padding: 0 15px;
      border-right: 1px solid #e9e9e9;
      &:last-child {
        border-right: none;
      }
    }
  }
}
.global-nav {
  & ul {
    overflow: hidden;
    margin-bottom: 0;
    & li {
      width: 192px;
      height: 54px;
      padding-top: 15px;
      float: left;
      text-align: center;
      border: 1px solid #e9e9e9;
      & a {
      display: inline-block;
      // height: 0;
      // padding-top: 44px;
      // overflow: hidden;
      width: 192px;
      height: 54px;
      }
    }
  }
  &__home {
    background-image: url(../images/goodall/nav1.png);
  }
  &__about {
    background-image: url(../images/goodall/nav2.png);
  }
  &__experience {
    background-image: url(../images/goodall/nav3.png);
  }
  &__rates {
    background-image: url(../images/goodall/nav4.png);
  }
  &__contact {
    background-image: url(../images/goodall/nav5.png);
  }
}
.global-footer {
  padding-top: 60px;
  & ul {
    margin-bottom: 30px;
    text-align: center;
  }
  & ul li {
    display: inline-block;
    width: 115px;
    padding: 0 15px;
    border-right: 1px solid #e9e9e9;
    &:last-child {
      border-right: none;
    }
  }
  & p {
    margin-bottom: 15px;
    text-align: center;
  }
}
#main h1 {
  margin: 0 0 30px 0;
  padding: 35px 0 35px 65px;
  background-image: url(../images/bg_h1_head.png), url(../images/bg_h1_bottom.png);
  background-repeat: no-repeat, no-repeat;
  background-position: left top, left bottom;
  font-size: 156.25%;
}
#concept #nav_concept a, #plan #nav_plan a, #fair #nav_fair a, #contact #nav_contact a, nav ul li a:hover {
  background-position: 0 -45px;
}
/* 基本レイアウト ここまで↑ */

/* トップページ ここから↓ */
.hero {
  width: 960px;
  height: 300px;
}
.local-contents {
  overflow: hidden;
  &__image {
    width: 300px;
    height: 480px;
    padding: 60px 0 0 100px;
    float: left;
  }
  &__text {
    width: 660px;
    height: 480px;
    padding: 60px 100px 0 0;
    float: right;
  }
  &__summary {
    &__about {
      width: 480px;
      height: 180px;
      padding-left: 30px;
      float: left;
    }
    &__experience {
      width: 480px;
      height: 180px;
      padding-left: 30px;
      float: right;
    }
    &__rates {
      width: 480px;
      height: 180px;
      padding-left: 30px;
      float: left;
    }
    &__contact {
      width: 480px;
      height: 180px;
      padding-left: 30px;
      float: right;
    }
  }
}
/* トップページ ここまで↑ */

/* 「結婚式場のコンセプト」ページ ここから↓ */
.concept_box {
  margin-bottom: 30px;
  overflow: hidden;
}
.concept_box:last-child {
  margin-bottom: 0;
}
/* 「結婚式場のコンセプト」ページ ここまで↑ */

/* 「プランのご案内」ページ ここから↓ */
table thead tr th {
  background-color: #eee8cc;
}
table tbody tr:nth-child(odd) {
  background-color: #ffffff;
}
/* 「プランのご案内」ページ ここまで↑ */

/* 「ブライダルフェア」ページ ここから↓ */
.gallery_box figure {
  width: 180px;
  margin: 0 0 15px 15px;
  float: left;
}
.gallery_box figure:first-child {
  margin-left: 0;
}
/* 「ブライダルフェア」ページ ここまで↑ */

/* 「お問い合わせ」ページ ここから↓ */
input[type="text"] {
  width: 200px;
}
input[type="email"] {
  width: 300px;
}
/* 「お問い合わせ」ページ ここまで↑ */
